.node {
    fill: blue;
}

.node.active-drag:hover {
    fill: red;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.export-button {
    width: 12.5rem;
    height: 4rem;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 1.5rem;
}
